body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: #30cfaf
}

.logo{
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 300px;
    position: relative;
    max-width: 800px;
    order: 1;
}

.column{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 400px;
}

.column1{
    align-items: flex-end;
}
.column3{
    align-items: flex-start;
}

.column div{
    background: #37e7c4;
    width: 100px;
    height: 100px;
    border-radius: 5px; 
    margin-bottom: 8px;
}

.column div:hover{
    background: #2cc0a2;
}

img{
    width: inherit;
    max-width: 100%;
    max-height: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons h1{
    margin: 20px 30px;
    padding: 10px;
    border-radius: 10px;
    background: #444444;
    color: #FFF;
    cursor: pointer;
}

.scores{
    width: 100px;
    height: 100px;
    background: #72e4cd;
    margin: 30px;
    font-size: 75px;
    border-radius: 5px
}

.xScore{
    color: #f62805;
    order: 0;
}

.oScore{
    color: #3482b1;
    order: 2;
}

@media(max-width: 935px){
    .game{
        order: -1;
        flex-basis: 100%;
    }
}